.dayCard{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0.7rem;
}

.dayCard__nextButton {
    border: none;
    padding-top: 0.3rem;
    background-color: transparent;
    color: var(--quaternary-color);
    cursor:url(/src/assets/images/worklog/select-date-pointer.cur), pointer;
}

.dayCard__nextButton:hover {
    color: #ffd69e;
}

.dayCard__previousButton {
    border: none;
    padding-top: 0.3rem;
    background-color: transparent;
    color: var(--quaternary-color);
    cursor:url(/src/assets/images/worklog/select-date-pointer.cur), pointer;
}

.dayCard__previousButton:hover {
    color: #ffd69e;  
}

.dayCard__dropdownButton {
    display: none;
    border: none;
    padding-top: 0.3rem;
    background-color: transparent;
    color: var(--quaternary-color);
}

.dayCard__h1 {
    font-size: 1.4rem;
    color: var(--quaternary-color);
}

.dayCard__addEventButton {
    display: none;
}

.dayCard__header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dayCard-calendar__div{
    margin: 1rem 0;
}

.dayCard__ul{
    height: 80%;
    padding: 0.6rem;
    overflow: hidden;
    border-radius: 7px;
    background-color: var(--primary-color);
    font-size: 0.75rem;
    list-style-type: none;
}

.dayCard-calendar .calendar {
    height: fit-content;
}

.dayCard-calendar__div .cell__calendar{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 2rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--tertiary-color);
}

.dayCard-calendar__div .days__container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 0.5fr repeat(5, 1fr);
    gap: 0.2rem;
}

.dayCard-calendar__div .calendar {
    width: 100%;
    padding: 0.2rem 0.2rem;
}

.dayCard__ul .eventItem__li--style {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    text-align: start;
    color: var(--primary-color);
}