.dayCard{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0.7rem;
}

.dayCard__nextButton {
    border: none;
    padding-top: 0.3rem;
    background-color: transparent;
    color: var(--quaternary-color);
    cursor:url(/src/assets/images/worklog/select-date-pointer.cur), pointer;
}

.dayCard__nextButton:hover {
    color: #ffd69e;
}

.dayCard__previousButton {
    border: none;
    padding-top: 0.3rem;
    background-color: transparent;
    color: var(--quaternary-color);
    cursor:url(/src/assets/images/worklog/select-date-pointer.cur), pointer;
}

.dayCard__previousButton:hover {
    color: #ffd69e;  
}

.dayCard__dropdownButton {
    display: none;
    border: none;
    padding-top: 0.3rem;
    background-color: transparent;
    color: var(--quaternary-color);
}

.dayCard__h1 {
    font-size: 1.4rem;
    color: var(--quaternary-color);
}

.dayCard__addEventButton {
    display: none;
}

.dayCard__header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dayCard-calendar__div{
    margin-top: 1rem;
    height: 20%;
    border: 1px solid white;
    border-radius: 7px;
}
.dayCard__ul{
    height: 80%;
    padding: 0.6rem;
    overflow: hidden;
    border-radius: 7px;
    background-color: var(--primary-color);
    font-size: 0.75rem;
    list-style-type: none;
}
